{#
Citation for the following code:
Date: 5/21/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
Used the started code and adapted it based on our project
#}

<html>
<!-- Adapted from the edit_people.html UI design -->
<head>
    <title>Edit Heat Scores</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <table border="1" cellpadding="5">
            <h1>Editing Heat Score:</h1>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
            <thead>
                <tr>
                    <th>Score ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Competition</th>
                    <th>Round</th>
                    <th>Heat Number</th>
                    <th>Score Number</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterates through the items in data -->
                {% for item in data %}
                <tr>
                    <!-- Iterates through every key in the current item dictionary -->
                    {% for key in item.keys() %}
                    <!-- Creates a table data from each item's key -->
                    <td>{{item[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
        <div id="edit">
            <!-- form to edit data in Heat_Scores -->
            <form id="editHeatScore" action="/edit_heat-scores/{{data[0].score_id}}" method="post">
                <legend><strong>Edit Heat Score</strong></legend>
                <fieldset>
                    <!-- Creates hidden form input to store the passed 'score_id' to be used in POST request to update the specific row tied to this heat score from app.py -->
                    <input type="hidden" value="{{data[0].score_id}}" class="form-control" id="score_id" name="score_id" required>

                    <label for="make">Surfer:</label>
                    <select class="form-control" id="surfer_id" name="surfer_id" required>
                        {% for surfer in surfers %}
                            {% if data[0].first_name == surfer['first_name'] and  data[0].last_name == surfer['last_name']%}
                                <option value="{{surfer['surfer_id']}}" selected>{{surfer['first_name']}} {{surfer['last_name']}}</option>
                            {% else %}
                                <option value="{{surfer['surfer_id']}}">{{surfer['first_name']}} {{surfer['last_name']}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label for="color">Heat:</label>
                    <select class="form-control" id="heat_id" name="heat_id">
                        <option value="" selected>N/A</option>
                        {% for heat in heats %}
                            {% if data[0].heat_number == heat['heat_number'] %}
                                <option value="{{heat['heat_id']}}" selected>{{heat['competition_name']}} - {{heat['round_type']}} - {{heat['heat_number']}}</option>
                            {% else %}
                                <option value="{{heat['heat_id']}}">{{heat['competition_name']}} - {{heat['round_type']}} - {{heat['heat_number']}}</option>
                            {% endif %} 
                        {% endfor %}
                    </select>

                    <label for="score_num">Score:</label>
                    <input type="text" class="form-control" id="score_num" name="score" pattern="[0-9.]+" value="{{data[0].score_num}}">
                </fieldset>
                <!-- Submits POST request to app.py -->
                <input type="submit" value="Save" name="Edit_Heat_Score" class="btn btn-primary" style="margin:.5rem;">
                <!-- If update to heat score is cancelled, signals to reroute to heat scores page -->
                <a href='/heat-scores'><input class="btn" type="button" value="Cancel"></a>
            </form>
        </div>
    </div>
</body>
</html>
